li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nennen div:nth-child(2){
    display: none;
    z-index: 10;
}
.nennen,div img{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}
.hoca .hoconca nav .menu ul{
    position: relative;
    top: 0px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    z-index: 1010;
    text-align: left;
} 

.menu ul li{
    padding: 20px 40px;
    transition: all 0.4s ease;
    border-radius: 15px;
}
.menu ul li a{
    margin: 0 30px;
}
.menu ul li:hover{
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
}
.nav{
    position: relative;
    justify-content: center;
    align-items: center;
}
nav div .ul{
    display: flex;
}
.dautien{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateX(0%);
    top: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 10px;
    display: none;
    z-index: 1010;
}

.thuhai{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    transform: translateX(0%);
    top: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none;
    z-index: 1010;
}

.hoconca nav .menu ul li:nth-child(1):hover .dautien{
    display: block;
}
.hoconca nav .menu ul li:nth-child(2):hover .thuhai{
    display: block;
}
.loa .thuhai ul li audio source{
    z-index: 1111;
}
header div:nth-child(2) ul li img{
    position: relative;
    width: 500px;
    z-index: 999;
    animation-name: conca;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes conca {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(240%);
    }
    50%{
        transform: translateY(300px);
    }
    75%{
        transform: translateX(100%);
    }
    100%{
        transform: translate3d(240%,300px,0px);
    }
}
header div:nth-child(3) ul li:nth-child(1) img{
    position: relative;
    width: 500px;
    z-index: 999;
    animation-name: conca2;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes conca2 {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(100%);
    }
    50%{
        transform: translate3d(240%,-100px,0px);
    }
    75%{
        transform: translate3d(0%,-200px,0px);
    }
    100%{
        transform: translate3d(240%,0%,0px);
    }
}
header div:nth-child(3) ul li:nth-child(2) img{
    top: -100px;
    position: relative;
    width: 250px;
    z-index: 999;
    animation-name: conca3;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes conca3 {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translate3d(100%,-420px,0px);
    }
    50%{
        transform: translate3d(250%,70px,0px);
    }
    75%{
        transform: translate3d(400%,-400px,0px);
    }
    100%{
        transform: translate3d(410%,-100px,0px);
    }
}
header div:nth-child(3) ul li:nth-child(3) img{
    top: -300px;
    position: relative;
    width: 250px;
    z-index: 999;
    animation-name: conca3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes conca3 {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translate3d(300%,-420px,0px);
    }
    50%{
        transform: translate3d(350%,0px,0px);
    }
    75%{
        transform: translate3d(200%,-300px,0px);
    }
    100%{
        transform: translate3d(310%,-100px,0px);
    }
}
header div:nth-child(3) ul li:nth-child(4) img{
    top: -600px;
    position: relative;
    width: 250px;
    z-index: 999;
    animation-name: conca4;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes conca4 {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translate3d(300%,0px,0px);
    }
    50%{
        transform: translate3d(350%,-400px,0px);
    }
    75%{
        transform: translate3d(200%,-300px,0px);
    }
    100%{
        transform: translate3d(100%,-100px,0px);
    }
}
header div:nth-child(3) ul li:nth-child(5) img{
    top: -900px;
    position: relative;
    width: 250px;
    z-index: 999;
    animation-name: conca5;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes conca5 {
    0%{
        transform: translateX(0%);
    }
    25%{
        transform: translate3d(100%,-400px,0px);
    }
    50%{
        transform: translate3d(150%,-200px,0px);
    }
    75%{
        transform: translate3d(300%,-400px,0px);
    }
    100%{
        transform: translate3d(100%,-200px,0px);
    }
}
